@import '../../style/variables.scss';

#error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primaryColor;
  height: 100vh;

  .content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;

    .image-container {
      flex: 1;
      text-align: center;
      padding: 20px;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .text-container {
      text-align: left;
      padding: 20px;
      color: white;

      h1 {
        font-size: 4rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }

  a {
    color: white;
    border-radius: 5px;
    font-size: 1.2rem;

    &:hover {
      color: #ec76fb;
    }
  }
}
