@import '../../style/variables';

.todo {
  max-width: 1250px;
  margin: 3rem auto 0 auto;
  padding: 2rem;
  text-align: center;

  h1 {
    color: $primaryColor;
    margin-bottom: 3rem;
  }

  .filterBtn {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 3rem;

    @media screen and (max-width: 600px) {
      flex-direction: column;
      align-items: center;

      button {
        width: 100%;
      }
    }
  }

  .addTask {
    display: flex;
    gap: 1rem;
    justify-content: center;

    @media screen and (max-width: 350px) {
      flex-direction: column;
    }
  }

  .todoUl {
    margin-top: 3rem;
  }

  ul .task {
    list-style: none;
    border-bottom: 1px rgb(198, 198, 198) solid;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 5rem;
    align-items: center;
    background: rgb(248, 248, 248);
    flex-wrap: wrap;
  }

  .deleteCheck {
    display: flex;
    gap: 2rem;
  }
}
